/*  ██████╗██╗  ██╗██████╗  ██████╗ ███╗   ███╗ █████╗ ████████╗██╗ ██████╗ █████╗  */
/* ██╔════╝██║  ██║██╔══██╗██╔═══██╗████╗ ████║██╔══██╗╚══██╔══╝██║██╔════╝██╔══██╗ */
/* ██║     ███████║██████╔╝██║   ██║██╔████╔██║███████║   ██║   ██║██║     ███████║ */
/* ██║     ██╔══██║██╔══██╗██║   ██║██║╚██╔╝██║██╔══██║   ██║   ██║██║     ██╔══██║ */
/* ╚██████╗██║  ██║██║  ██║╚██████╔╝██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╗██║  ██║ */
/*  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝╚═╝  ╚═╝ */
                  
/* -------------------------------------------------------------------------- */
/*                                  Settings                                  */
/* -------------------------------------------------------------------------- */

/* @settings
name: Chromatica Theme
id: Chromatica
settings:
    -   
        id: heading-fonts
        title: Fonts
        type: heading
        level: 1
        collapsed: true
    -
        id: heading-colors
        title: Colors
        type: heading
        level: 1
        collapsed: true
    -
        id: manual-accent
        title: Use manual accent color
        description: Set accent color manually
        type: class-toggle
        default: false
    -
        id: color-accent-manual
        title: Manual Accent Color
        type: variable-color
        format: hsl-split
        default: '#007AFF'
    -
        title: Base Hue
        id: color-base-h
        type: variable-number-slider
        default: 20
        min: 0
        max: 330
        step: 1 
    -
        title: Base Saturation
        id: color-base-s
        type: variable-number-slider
        default: 50
        format: '%'
        min: 1
        max: 100
        step: 1 
    -
        title: Base Lightness
        id: color-base-l
        type: variable-number-slider
        default: 30
        format: '%'
        min: 0
        max: 100
        step: 1 
    -
        title: Colored Folder Saturation
        id: color-folder-s
        type: variable-number-slider
        default: 30
        format: '%'
        min: 0
        max: 100
        step: 1 
    -
        title: Colored Folder Lightness
        id: color-folder-l
        type: variable-number-slider
        default: 50
        format: '%'
        min: 0
        max: 100
        step: 1 
    -
        title: Colored Folder Alpha
        id: color-folder-a
        type: variable-number-slider
        default: 0.5
        min: 0
        max: 1
        step: 0.01 
    -
        id: heading-more
        title: More Customization
        type: heading
        level: 1
        collapsed: true
    -
        title: Note area max width
        id: note-max-width
        type: variable-number-slider
        default: 65
        format: '%'
        min: 20
        max: 100
        step: 1
*/

/* -------------------------------------------------------------------------- */
/*                                 Properties                                 */
/* -------------------------------------------------------------------------- */

/* --------------------------- Wdsriting Area Width --------------------------- */

:root {
    --note-max-width: 65%;
}

/* ---------------------------------- Fonts --------------------------------- */

:root {

    --font-default: "Inter", sans-serif; /* Notetaking font */
    --font-heading: "Inter", sans-serif; /* Notetaking header font */
    --font-monospace: "Source Code Pro", monospace; /* Code font */
    --font-ui: "Inter", sans-serif; /* UI Font */

    --default-font: var(--font-default); /* Old notes and settings font */
    --heading-font: var(--font-heading); /* Old header font */
}   

/* --------------------------------- Colors --------------------------------- */

/* Base Colors */
:root {
    --color-base-h: 200;
    --color-base-s: 30%;
    --color-base-l: 30%;
    --color-accent-manual-h: 211;
    --color-accent-manual-s: 100%;
    --color-accent-manual-l: 50%;
}

/* Manual accent toggle */
.manual-accent {
    --color-accent-h: var(--color-accent-manual-h) !important;
    --color-accent-s: var(--color-accent-manual-s) !important;
    --color-accent-l: var(--color-accent-manual-l) !important;
}

/* Dark theme colors */
.theme-dark {
    --color-base-l-mod: calc(0.5 * var(--color-base-l));
    --color-accent-h: var(--color-base-h);
    --color-accent-s: calc(30% + 0.7 * var(--color-base-s));
    --color-accent-l: calc(70% + (0.17 * var(--color-base-l)));
    --color-text-code: hsl(var(--color-accent-h),var(--color-accent-s),calc(var(--color-accent-l) * 0.5));
    --color-hashtag-background: hsl(var(--color-accent-h),var(--color-accent-s),calc(var(--color-accent-l) * 0.3));

    --text-normal: #dcddde; /*Text body of note*/
    --text-normal-transparent: hsla(210, 3%, 100%,0.50);
    --text-muted: hsl(var(--color-accent-h),var(--color-accent-s),var(--color-accent-l)); /*Text darker for sidebar, toggles, inactive, tags, etc*/
    --text-accent: hsl(var(--color-accent-h),var(--color-accent-s),var(--color-accent-l)); /*Links*/
    --text-accent-hover: #8875ff; /*Links hover*/
    --text-faint: hsl(var(--color-accent-h),calc(var(--color-accent-s) * 0.7),calc(var(--color-accent-l)*0.5));; /*Link brackets color & Gutter Numbers*/
    


    --text-highlight-bg: rgba(255, 255, 0, 0.438); /*Search Matches*/
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4); /*Active Search Match (Preview Mode)*/
    --text-selection: hsl(var(--color-accent-h),calc(var(--color-accent-s) * 0.3),calc(var(--color-accent-l)*0.3)); /*Text Selections*/

    --interactive-normal: #2a2a2a; /*Button Color*/
    --interactive-hover: #303030; /*Button Hovered Color*/
    --interactive-accent: hsl(var(--color-accent-h),var(--color-accent-s),var(--color-accent-l)); /*Workspace Note Title Underline*/
    --interactive-accent-hover: #4d3ca6; /*Menu Button Hover*/
    
    --scrollbar-bg: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.5));; /*Scrollbar Gutter Background*/
    --scrollbar-thumb-bg: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.7));; /*Scrollbar Color*/
    --scrollbar-active-thumb-bg: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 1));; /*Scrollbar Dragged Color*/

    --background-modifier-border: hsl(var(--color-accent-h),calc(var(--color-accent-s) * 0.5),calc(var(--color-accent-l)*0.3)); /*Border outline of quotes, tables, line breaks*/
    --background-modifier-cover: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.5));; /*Obsidian Title Bar Bg*/
    --background-primary: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.3));; /*Note background*/
    --background-primary-alt: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.5));; /*Note Title background active*/
    --background-secondary: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.6));; /*Sidebar background*/
    --background-secondary-alt: hsl(var(--color-base-h),var(--color-base-s),calc(var(--color-base-l-mod)* 0.5));; /*Sidebar Title background*/
}

/* Dark theme folder colors */
.theme-dark {
    --color-folder-s: 30%;
    --color-folder-l: 50%;
    --color-folder-a: 0.5;

    --color-folder0: 0, var(--color-folder-s), var(--color-folder-l);
    --color-folder3: 36, var(--color-folder-s), var(--color-folder-l);
    --color-folder1: 72, var(--color-folder-s), var(--color-folder-l);
    --color-folder2: 108, var(--color-folder-s), var(--color-folder-l);
    --color-folder4: 180, var(--color-folder-s), var(--color-folder-l);
    --color-folder5: 216, var(--color-folder-s), var(--color-folder-l);
    --color-folder6: 252, var(--color-folder-s), var(--color-folder-l);
    --color-folder7: 288, var(--color-folder-s), var(--color-folder-l);
    --color-folder8: 324, var(--color-folder-s), var(--color-folder-l);
    --color-folder9: 360, var(--color-folder-s), var(--color-folder-l);
}

/* Light theme colors */
.theme-light {
    --color-base-l-max: calc(0.5 * var(--color-base-l)+ 0.5);

    --background-primary: #ffffff; /*Note background*/
    --background-primary-alt: #f5f6f8; /*Note Title background active*/
    --background-secondary: #f2f3f5; /*Sidebar background*/
    --background-secondary-alt: #e3e5e8; /*Sidebar Title background*/
    
    --background-modifier-border: #ddd; /*Border outline of quotes, tables, line breaks*/

    --text-normal: #2e3338; /*Text body of note*/
    --text-muted: #888888; /*Text darker for sidebar, toggles, inactive, tags, etc*/
    --text-accent: #705dcf; /*Links*/
    --text-accent-hover: #7a6ae6; /*Links hover*/
    --text-faint: #999999; /*Link brackets color*/

    --text-highlight-bg: rgba(255, 255, 0, 0.4); /*Search Matches*/
    --text-highlight-bg-active:rgba(255, 128, 0, 0.4); /*Active Search Match (Preview Mode)*/
    --text-selection: rgba(23, 48, 77, 0.99); /*Text Selections*/
    
    --interactive-normal: #f2f3f5; /*Button background Color*/
    --interactive-hover:#e9e9e9; /*Button Hovered Color*/
    --interactive-accent: #7b6cd9; /*Workspace Note Title Underline*/
    --interactive-accent-hover: #8273e6; /*Menu Button Hover*/
    
    --scrollbar-bg: rgba(0, 0, 0, 0.05); /*Scrollbar Gutter Background*/
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1); /*Scrollbar Color*/
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2); /*Scrollbar Dragged Color*/
}

/* -------------------------------------------------------------------------- */
/*                                  Selectors                                 */
/* -------------------------------------------------------------------------- */

/*Box Sizing Reset - this makes it easier to set any ::before and ::after pseudo-elements' dimensions,
since it includes any border and padding into the height and width values you set.

*,
*::before,
*::after {
  box-sizing: border-box;
}*/

/* -------------------------- Startup progress bar -------------------------- */

/*Startup Progress Bar Window*/
.progress-bar {}

/*Startup Text*/
.progress-bar .progress-bar-message {}

/*Startup Progress Bar Background*/
.progress-bar-indicator .progress-bar-line {}

/*Startup Progress Bar Moving Line*/
.progress-bar-indicator .progress-bar-subline {}

/* ------------------------------- Settings UI ------------------------------ */

/*All Popup Windows: Settings*/
.modal {}

/*Command Palette & Quick Switcher*/
.prompt {}

/*The notifications in the top right*/
.notice {}

/*Context Menu (Right CLick sth)*/
.menu {}

/*Setting Dropdown*/
.dropdown {}

/*Community Themes Browser*/
.community-theme {}

/*Community Plugins Browser*/
.community-plugin {}

/* --------------------------------- Extras --------------------------------- */

/*Tooltip Popup*/
.tooltip {}

/* Dropdown selector box */
.dropdown {}


/* ------------------------------ Workspace UI ------------------------------ */

/* ribbons, the thin vertical bars to the far left/right */
.workspace-ribbon {
    
}

/* Collapsed ribbons */
.workspace-ribbon.is-collapsed {
    background-color: var(--background-secondary-alt);
}

/*Side Panels*/
.workspace-tabs {}

/*Side Panel: Icons*/
.workspace-tab-header-inner-icon {}

/* ------------------------------ File Explorer ----------------------------- */

/*Nav Top: Create Note, Sort, Create Folder*/
.nav-header {}

/*Folder*/
.nav-folder {}
.nav-folder-title {}

/*Files*/
.nav-file {}
.nav-file-title {}
/* (also applies to many plugins displaying file lists in the side bar) */

/*Status Bar*/
.status-bar {
    background-color: var(--background-secondary-alt);
}

/* -------------------------- File Explorer Folders ------------------------- */


/* -------------------------------- Title Bar ------------------------------- */

/*Title Bar*/
.titlebar {}

/*Navigation Button - Back */
.mod-back {}

/*Navigation Button - Forward*/
.mod-forward {}

/*Window Control- Minimize*/
.mod-minimize {}

/*Window Control- Minimize*/
.mod-maximize {}

/*Window Control- Close*/
.mod-close {}

/* --------------------------------- Buttons -------------------------------- */

/*Default Buttons*/
button {}
/*Settings Buttons*/
button.mod-cta {}
/*Warning Buttons*/
button.mod-warning{}

/* ----------------------------- Note Title Bars ---------------------------- */

/*Note Title Bar*/
.workspace-leaf .view-header {}

/*Inactive Note Titlebar*/
/*Note Title Bar: Text*/
.view-header-title {}

/*Note Title Bar: Note Icon*/
.view-header-icon {}

/*Note Title Bar: Settings Icons*/
.view-action {}

/*Active Note Titlebar*/
/*Note Title Bar: Text*/
.workspace-leaf.mod-active .view-header-title {}

/*Note Title Bar: Note Icon*/
.workspace-leaf.mod-active .view-header-icon {}

/*Note Title Bar: Settings Icons*/
.workspace-leaf.mod-active .view-action {}

/* ------------------------------ Writing area ------------------------------ */

/* Writing area width */
.CodeMirror-lines,
.CodeMirror-selected,
.markdown-preview-section,
.cm-contentContainer {
    max-width: var(--note-max-width);
    margin: auto;
}

.cm-s-obsidian:not(.is-live-preview) {} /*Source Mode*/

.markdown-source-view {} /*Source Mode*/

.cm-s-obsidian.is-live-preview {} /*Live Preview Mode*/

.markdown-preview-view {} /*Reading Mode*/

/* -------------------------------- Emphasis -------------------------------- */

/*Bold*/

strong {} /*Reading View*/

.cm-s-obsidian .cm-strong {} /*Editing View*/

/*Italic/Emphasis*/
em {} /*Reading View*/
.cm-em {} /*Editing View*/

/*Highlight*/
.markdown-preview-view mark {} /*Reading View*/
.cm-s-obsidian .cm-highlight {} /*Editing View*/
.cm-s-obsidian .cm-formatting-highlight {} /*Editing View highlight symbols/syntax*/

/*Strikethrough*/
.cm-strikethrough {} /*Editing View*/
del {} /*Reading View*/

/* -------------------------------- Headings -------------------------------- */

h1 {} /*Reading Mode*/
h2 {} /*Reading Mode*/
h3 {} /*Reading Mode*/
h4 {} /*Reading Mode*/
h5 {} /*Reading Mode*/
h6 {} /*Reading Mode*/
.cm-header-1 {} /*Source Mode*/
.cm-header-2 {} /*Source Mode*/
.cm-header-3 {} /*Source Mode*/
.cm-header-4 {} /*Source Mode*/
.cm-header-5 {} /*Source Mode*/
.cm-header-6 {} /*Source Mode*/

.cm-header {} /* applies to all source mode headings */

/* ----------------------------- Horizontal rule ---------------------------- */

hr {} /*Reading Mode*/
.hr.cm-line {} /*Source Mode*/
.HyperMD-hr-bg {} /*Source Mode*/

/*HR Line Text*/
.cm-s-obsidian pre.HyperMD-hr {} /*Source Mode*/

/* -------------------------------- Comments -------------------------------- */

/* html comments and obsidian style comments */
.cm-comment {}

/* ---------------------------------- Code ---------------------------------- */

code {}

/*Inline Code*/
.cm-s-obsidian span.cm-inline-code {
    color: var(--color-text-code);
} /*Source Mode*/
.markdown-preview-view code {} /*Reading Mode*/

/*Codeblock (no language specified) */
.markdown-preview-view pre {} /*Reading Mode*/
.cm-s-obsidian pre.HyperMD-codeblock {} /*Source Mode*/

/*Codeblock: Language Specified: ```js*/
.markdown-preview-view pre[class*=language-] {} /*Reading Mode*/
.markdown-preview-view code[class*=language-] {} /*Reading Mode*/

/* ---------------------------------- Links --------------------------------- */

.cm-s-obsidian span.cm-hmd-internal-link {} /*Source Mode*/

/*Wiki Links*/
a.internal-link {} /*Reading Mode*/

/*Markdown Links*/
a.external-link {} /*Reading Mode*/

/*Link to No Page*/
a.internal-link.is-unresolved {} /*Reading Mode*/

/* -------------------------- Lists and blockquote -------------------------- */

.cm-s-obsidian .HyperMD-list-line {} /*Source Mode*/

/*List Bullet/Number/Formatting*/
li::marker {} /*Reading Mode*/
span.cm-formatting-list-ul {} /*Source Mode*/
span.cm-formatting-list-ol {} /*Source Mode*/

/*Bullet Lists*/
ul {} /*Reading Mode*/

/*Bullet List Text*/
ul li {} /*Reading Mode*/

/*Bullet List Symbol*/
ul li::marker, .list-bullet {
    color: var(--text-normal);
}

/*Numbered Lists*/
ol {} /*Reading Mode*/

/*Numbered List Text*/
ol li {} /*Reading Mode*/

/*Numbered List Number*/
ol li::marker, .cm-s-obsidian span.cm-formatting-list {
    color: var(--text-normal);
} /*Reading Mode*/

/*Checkbox List*/
li.task-list-item {} /*Reading Mode*/
input[type=checkbox i] {} /*Reading Mode*/

input[type=checkbox].task-list-item-checkbox {
    background-color: var(--background-secondary);
    border-style: solid;
    border-color: var(--background-modifier-border);
    appearance: none;
    border-radius: 3px;
    width: 1rem;
    height: 1rem;
}

input[type=checkbox]:checked.task-list-item-checkbox { 
    background-color: var(--text-faint);
}

/*Checked Checkbox*/
.markdown-preview-view .task-list-item-checkbox:checked {} /*Reading Mode*/
input[type=checkbox]:checked {} /*Reading Mode*/

/*Blockquotes*/
.markdown-preview-view blockquote {}

/* --------------------------------- Tables --------------------------------- */

table {} /*Reading Mode*/

/*Table Headers*/
table th {} /*Reading Mode*/

/*Table Column*/
table td {} /*Reading Mode*/

/*Table Row*/
table tr {} /*Reading Mode*/
.cm-s-obsidian .HyperMD-table-row {} /*Source Mode*/

/* ---------------------------------- Tags ---------------------------------- */

a.tag {} /*Reading Mode*/
.cm-s-obsidian span.cm-hashtag {} /*Source Mode*/

a.tag,
.cm-s-obsidian span.cm-hashtag {
    text-decoration: none;
    color: var(--text-accent);
    background-color: var(--color-hashtag-background);
    border-radius: 7px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}


/* Fix seperate tag symbol from text */

.cm-hashtag-begin {
    display: none;
}

.cm-s-obsidian span.cm-hashtag::before {
    content: '#';
}

/* -------------------------------- Metadata -------------------------------- */

.frontmatter-container {} /*Reading Mode*/
.CodeMirror-line .cm-s-obsidian .cm-hmd-frontmatter {
} /*Source Mode*/

.cm-hmd-frontmatter {
    color: var(--text-faint) !important;
}
/*Frontmatter Tag*/
.frontmatter-container .frontmatter-alias {} /*Reading Mode*/

/* --------------------------------- Embeds --------------------------------- */

.markdown-preview-view .markdown-embed {} /*Reading Mode*/
.internal-embed.is-loaded:not(.image-embed) {} /*Reading Mode*/

.markdown-source-view.mod-cm6 .cm-embed-block {} /*Live Preview Mode*/
.markdown-source-view .markdown-embed:not(.mod-empty) {} /*Live Preview Mode*/

/*File Embed*/
.markdown-preview-view .file-embed {} /*Reading Mode*/
.markdown-source-view .file-embed:not(.mod-empty) {} /*Live Preview Mode*/

/*Empty/No Embed Found*/
.markdown-source-view .markdown-embed.mod-empty {} /*Live Preview Mode*/
.markdown-source-view .file-embed.mod-empty {} /*Live Preview Mode*/

/*Embed Titles*/
.markdown-embed-title {} /*Reading Mode*/
.file-embed-title {} /*Reading Mode*/

/*Embed Link*/
.markdown-embed-link {}
.file-embed-link {}

/* -------------------------------- Footnotes ------------------------------- */

/*Footnote link in note*/
.markdown-preview-view a.footnote-link {} /*Reading View*/

/*Reference Number in text*/
.cm-s-obsidian span.cm-footref {} /*Editing View*/

/*Footnotes section at the bottom of the note*/
.markdown-preview-view .footnotes {} /*Reading View*/

/*Footnote back ref (arrow) at the bottom of the note*/
.footnote-backref {} /*Reading View*/

/* -------------------------------- Graph UI -------------------------------- */

.graph-view.color-fill {
	color: var(--text-muted); /*color of nodes*/
}
.graph-view.color-fill-focused { /*color of focused node/note*/
	color: #ffdd00;
}
.theme-dark .graph-view.color-fill-tag { /*dark mode tag color*/
	color: #704214;
}
.theme-light .graph-view.color-fill-tag { /*light mode tag color*/
	color: #E0D3AF;
}
.theme-dark .graph-view.color-fill-attachment { /*dark mode attachment color*/
	color: #1a356b;
}
.theme-light .graph-view.color-fill-attachment { /*light mode attachment color*/
	color: #83D4F4;
}
.graph-view.color-fill-unresolved { /*unresolved(not created yet) notes*/
	color: var(--text-muted);
	opacity: 0.4;
}
.graph-view.color-arrow { /*arrow color*/
	color: var(--text-normal);
	opacity: 0.5;
}
.graph-view.color-circle { /*focused node border color*/
	color: var(--text-normal);
}
.graph-view.color-line { /*link color*/
	color: var(--background-modifier-border);
}
.graph-view.color-text { /*text color*/
	color: var(--text-normal);
}
.graph-view.color-fill-highlight { /*focused node color*/
	color: var(--interactive-accent);
}
.graph-view.color-line-highlight { /*focused node connections*/
	color: var(--interactive-accent);
}

.graph-controls {} /*Graph Menu*/

/* Cursor */
.cm-cursorLayer .cm-cursor {
	/* border-left: ... */
}

/* animation of the blinking */
.cm-cursorLayer {
	/* deactivate built-in animation from CodeMirror */
	animation-name: none !important; /* important needed */
}

@keyframes phase-blink {
	15% { opacity: 1 }
	50% { opacity: 0 }
	85% { opacity: 1 }
}

.cm-cursorLayer .cm-cursor {
	animation-duration: 2200ms;
	animation-name: phase-blink;
}

/* -------------------------------------------------------------------------- */
/*                               Feature Addons                               */
/* -------------------------------------------------------------------------- */

/* --------------------------- Additional Callouts -------------------------- */

/* .callout[data-callout="rule"] {
} */

/* ----------------------------- Colored Folders ---------------------------- */

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."] {
    background-color: hsl(var(--color-folder0), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."]+.nav-folder-children {
    background-color: hsla(var(--color-folder0), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="0."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."] {
    background-color: hsl(var(--color-folder1), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."]+.nav-folder-children {
    background-color: hsla(var(--color-folder1), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="1."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."] {
    background-color: hsl(var(--color-folder2), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."]+.nav-folder-children {
    background-color: hsla(var(--color-folder2), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="2."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3."] {
    background-color: hsl(var(--color-folder3), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3."]+.nav-folder-children {
    background-color: hsla(var(--color-folder3), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3"]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="3."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."] {
    background-color: hsl(var(--color-folder4), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."]+.nav-folder-children {
    background-color: hsla(var(--color-folder4), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="4."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."] {
    background-color: hsl(var(--color-folder5), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."]+.nav-folder-children {
    background-color: hsla(var(--color-folder5), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="5."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."] {
    background-color: hsl(var(--color-folder6), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."]+.nav-folder-children {
    background-color: hsla(var(--color-folder6), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="6."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."] {
    background-color: hsl(var(--color-folder7), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."]+.nav-folder-children {
    background-color: hsla(var(--color-folder7), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="7."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."] {
    background-color: hsl(var(--color-folder8), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."]+.nav-folder-children {
    background-color: hsla(var(--color-folder8), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="8."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."] {
    background-color: hsl(var(--color-folder9), var(--color-folder-a));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."]+.nav-folder-children {
    background-color: hsla(var(--color-folder9), calc(var(--color-folder-a) - 0.2));
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."],
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."]+.nav-folder-children .nav-folder-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."]+.nav-folder-children .nav-file-title,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."] .nav-folder-collapse-indicator.collapse-icon .right-triangle,
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="9."]+.nav-folder-children .nav-folder-collapse-indicator.collapse-icon .right-triangle {
    color: var(--text-normal-transparent);
}

/* -------------------------------------------------------------------------- */
/*                            SECTION Embedded Data                           */
/* -------------------------------------------------------------------------- */
